<div class="bz-services" id="top">
  <img
    src="/assets/images/backgrounds/light-green-services.webp"
    class="green"
  />
  <img src="/assets/images/backgrounds/light-blue-services.webp" class="blue" />
  <div class="row service-banner">
    <img
      [src]="
        innerWidth > 770
          ? bzServiceContent[activeService].background
          : bzServiceContent[activeService].backgroundMobile
      "
    />
    <h2
      class="blue-background animate__animated animate__slideInDown"
      *ngIf="animations"
    >
      {{ bzServiceContent[activeService].service | translate }}
    </h2>
  </div>
  <div
    class="row description mx-auto px-3 py-4 mt-5 animate__animated animate__slideInDown animate__fast"
    *ngIf="bzServiceContent[activeService].description && animations"
  >
    <p>{{ bzServiceContent[activeService].description! | translate }}</p>
  </div>
  <div class="row px-2 px-md-5 service-content">
    <div
      class="col-12 col-md-6 p-3 mb-3 px-md-5 animate__animated animate__slideInLeft"
      *ngFor="let item of bzServiceContent[activeService].items; let i = index"
    >
      <div
        class="mb-5 mx-4 games-icon"
        *ngIf="item.icon"
        [ngStyle]="{
          background: 'url(' + icons[i] + ')'
        }"
        (mouseover)="hover(i, true)"
        (mouseleave)="hover(i, false)"
      ></div>
      <h3 class="mb-4">{{ item.title | translate }}</h3>
      <p>{{ item.text! | translate }}</p>
    </div>
  </div>
</div>
