.bz-services {
  padding-top: 90px;
  padding-bottom: 40px;
  position: relative;
  background: transparent;
  min-height: 100%;
  .green {
    position: absolute;
    z-index: -1;
    max-height: 100%;
    width: auto;
    left: -200px;
  }
  .blue {
    max-height: 100%;
    width: 70vw;
    right: -100px;
    position: absolute;
    z-index: -1;
    @media (max-width: 770px) {
      right: auto;
      left: auto;
      top: 60%;
      width: 240%;
    }
  }
  .service-banner {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2 {
      font-weight: 700;
      font-size: 50px;
      line-height: 59px;
      position: absolute;
      color: var(--bz-white);
      @media (max-width: 770px) {
        font-size: 25px;
        line-height: 36px;
      }
    }
  }
  .block-spacer {
    height: 100px;
    width: 100%;
  }
  .description {
    z-index: 3;
    width: 90%;
    background-color: var(--bz-white-second);
    @media (max-width: 770px) {
      width: 100%;
    }
  }
  .service-content {
    margin-top: 100px;
    .games-icon {
      width: 100px;
      height: 60px;
      background-repeat: no-repeat !important;
      background-size: auto !important;
      background-position: initial !important;
    }
  }
  @media (max-width: 770px) {
    padding-top: 80px;
  }
}
