<div class="carousel d-flex justify-content-center mx-auto mb-3">
  <swiper [config]="slideConfig" class="carousel-swiper" #newSwiper>
    <ng-template swiperSlide class="carousel-item">
      <mat-card>
        <img src="/assets/images/news/blog1.png" alt="" />
        <h3>Title</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sint
          possimus ducimus qui. Eaque perferendis rem optio unde totam veritatis
          mollitia. Adipisci voluptatum placeat mollitia sunt ad, facere
          molestias libero.
        </p>

        <a class="d-flex"
          >Ver más<mat-icon class="ms-1">arrow_forward</mat-icon></a
        >
      </mat-card>
    </ng-template>
    <ng-template swiperSlide class="carousel-item">
      <mat-card>
        <img src="/assets/images/news/blog2.png" alt="" />
        <h3>Title</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sint
          possimus ducimus qui. Eaque perferendis rem optio unde totam veritatis
          mollitia. Adipisci voluptatum placeat mollitia sunt ad, facere
          molestias libero.
        </p>

        <a class="d-flex"
          >Ver más<mat-icon class="ms-1">arrow_forward</mat-icon></a
        >
      </mat-card>
    </ng-template>
    <ng-template swiperSlide class="carousel-item">
      <mat-card>
        <img src="/assets/images/news/blog3.png" alt="" />
        <h3>Title</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sint
          possimus ducimus qui. Eaque perferendis rem optio unde totam veritatis
          mollitia. Adipisci voluptatum placeat mollitia sunt ad, facere
          molestias libero.
        </p>

        <a class="d-flex"
          >Ver más<mat-icon class="ms-1">arrow_forward</mat-icon></a
        >
      </mat-card>
    </ng-template>
    <ng-template swiperSlide class="carousel-item">
      <mat-card>
        <img src="/assets/images/news/blog2.png" alt="" />
        <h3>Title</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sint
          possimus ducimus qui. Eaque perferendis rem optio unde totam veritatis
          mollitia. Adipisci voluptatum placeat mollitia sunt ad, facere
          molestias libero.
        </p>

        <a class="d-flex"
          >Ver más<mat-icon class="ms-1">arrow_forward</mat-icon></a
        >
      </mat-card>
    </ng-template>
  </swiper>
</div>
