<div class="carousel d-flex justify-content-center mx-auto mb-3">
  <!-- <mat-icon (click)="swipePrev()" class="navigation-button preview-button "
    >arrow_back_ios</mat-icon
  >
  <mat-icon (click)="swipeNext()" class="navigation-button next-button "
    >arrow_forward_ios</mat-icon
  > -->
  <swiper [config]="slideConfig" class="carousel-swiper" #newSwiper>
    <ng-template swiperSlide class="carousel-item" *ngFor="let new of news">
      <mat-card>
        <img [src]="new.sliderImageUrl" alt="newsImage" [routerLink]="['/news', new.url]" class="pointer"/>
        <h3>{{ translate.currentLang == "ES" ? new.titleEs : new.titleEn }}</h3>
        <p>
          {{
            translate.currentLang == "ES"
              ? splitContent(new.contentEs)
              : splitContent(new.contentEn)
          }}...
        </p>

        <a class="d-flex pointer" [routerLink]="['/news', new.url]"
          >{{ "Ver más" | translate
          }}<mat-icon class="ms-1">arrow_forward</mat-icon></a
        >
      </mat-card>
    </ng-template>
  </swiper>
</div>
