.footer {
  position: absolute;
  width: 100%;
  background: var(--bz-dark-blue);
  z-index: -2;
  left: 0;
  padding-bottom: 60px;
  .content {
    margin-top: 100px;
    .bitionz {
      img {
        width: 200px;
      }
    }
    .contact {
      text-align: center;
      color: white;
      align-items: center;
      p:hover {
        color: var(--bz-btn-hover)
      }
      * {
        color: white;
        margin: 0;
      }
    }
    .social {
      color: white;
      align-items: center;
    }
  }
  a {
    color: var(--bz-white);
    .icon {
      cursor: pointer;
    }
  }
}
