.header {
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 90px;
  transition: 0.4s all;
  z-index: 99;
  background-color: #fbfbfb;
  box-shadow: 0px 0px 8px 0px #40404069;
}
.mobile {
  display: none;
}
@media (max-width: 990px) {
  .header {
    height: 80px;
  }
  .mobile {
    display: block;
    .mat-icon {
      font-size: 30px;
    }
  }
  .list {
    display: none !important;
  }
}
img {
  cursor: pointer;
  @media (max-width: 720px) {
    width: 190px;
  }
}
