<div
  class="header px-4 pt-3 pt-md-2"
  [ngStyle]="
    (positionY < 20 && homeRoute)
      ? { background: 'transparent', 'box-shadow': 'none' }
      : {}
  "
>
  <div class="row">
    <div class="col pt-2">
      <img src="./assets/images/common/logo-bitionz.svg" (click)="home()" />
    </div>
    <div class="col d-flex justify-content-end">
      <app-nav-list class="list"></app-nav-list>
      <div class="mobile p-2 me-2 pt-3" (click)="toggleSidebarMobile()">
        <mat-icon>menu</mat-icon>
      </div>
    </div>
  </div>
</div>
