<div class="popup-container">
  <mat-icon class="close-button" (click)="onCloseHandler()">close</mat-icon>
  <div
    *ngIf="data.type === 'email'"
    class="d-flex flex-column align-items-center pt-4"
  >
    <h2>Escribinos</h2>
    <p>Dejanos tu consulta y te responderemos brevemente</p>
    <form
      autocomplete="off"
      class="bz-form"
      [formGroup]="registerForm"
      (ngSubmit)="confirmSubmit()"
    >
      <div class="row mt-2">
        <mat-form-field appearance="outline" >
          <mat-label>Nombre</mat-label>
          <input matInput type="text"  placeholder="Nombre" formControlName="name" [errorStateMatcher]="matcher"/>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Empresa</mat-label>
          <input matInput type="text" placeholder="Empresa" formControlName="company"/>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email" formControlName="email" [errorStateMatcher]="matcher"/>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Mensaje</mat-label>
          <textarea matInput placeholder="Mensaje" rows="3" formControlName="message" [errorStateMatcher]="matcher"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-end">
          <mat-spinner *ngIf="spinner" diameter="50" class="me-3"></mat-spinner>
          <button mat-button type="submit" [disabled]="spinner">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>
