<div class="popup-container">
  <mat-icon class="close-button" (click)="onCloseHandler()">close</mat-icon>
  <div
    *ngIf="data.type === 'email'"
    class="d-flex flex-column align-items-center pt-4"
  >
    <h2>{{ "Escribenos" | translate }}</h2>
    <p>{{ "Dejanos tu consulta y te responderemos en breve" | translate }}</p>
    <form
      autocomplete="off"
      class="bz-form"
      [formGroup]="registerForm"
      (ngSubmit)="confirmSubmit()"
    >
      <div class="row mt-2">
        <mat-form-field appearance="outline">
          <mat-label>{{ "Nombre" | translate }}</mat-label>
          <input
            matInput
            type="text"
            placeholder="{{ 'Nombre' | translate }}"
            formControlName="name"
            [errorStateMatcher]="matcher"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>{{ "Empresa" | translate }}</mat-label>
          <input
            matInput
            type="text"
            placeholder="{{ 'Empresa' | translate }}"
            formControlName="company"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            placeholder="Email"
            formControlName="email"
            [errorStateMatcher]="matcher"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>{{ "Mensaje" | translate }}</mat-label>
          <textarea
            matInput
            placeholder="{{ 'Mensaje' | translate }}"
            rows="3"
            formControlName="message"
            [errorStateMatcher]="matcher"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-end">
          <mat-spinner *ngIf="spinner" diameter="50" class="me-3"></mat-spinner>
          <button mat-button type="submit" [disabled]="spinner">
            {{ "Enviar" | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
