<div class="contact" id="top">
  <img
    src="../../../assets/images/backgrounds/light-green-services.webp"
    alt=""
    class="green"
  />
  <img
    src="../../../assets/images/backgrounds/light-blue-services.webp"
    alt=""
    class="blue"
  />
  <div class="d-flex flex-column align-items-center py-5">
    <div class="col-md-6 col text-center py-5 my-5">
      <mat-card class="p-5">
        <img
          src="../../../../assets/images/icons/contact-email.png"
          alt="contact"
          class="my-5"
        />
        <br />
        <h2 class="green-background-title my-4">
          {{ "Gracias por tu mensaje" | translate }}
        </h2>
        <p class="my-5">
          {{ "Pronto estaremos en contacto contigo" | translate }}
        </p>
      </mat-card>
    </div>
  </div>
</div>
