<mat-nav-list class="d-flex flex-md-row flex-column">
  <a
  mat-list-item
  routerLink="/about-us"
  (click)="closeNavHandler()"
  [ngClass]="router.url.includes('about-us') ? ['link-active'] : ''"
>
  <p class="menu">{{ "Sobre nosotros" | translate }}</p>
</a>
  <a
    mat-list-item
    [matMenuTriggerFor]="bzMenu"
    class="desk"
    [ngClass]="router.url.includes('services') ? ['link-active'] : ''"
  >
    <p class="menu">{{ "Servicios" | translate }}</p>
  </a>
  <mat-menu #bzMenu="matMenu" class="header-menu me-1 desk">
    <button
      mat-menu-item
      [routerLink]="['/services', 'development']"
      (click)="closeNavHandler()"
      [ngClass]="router.url.includes('development') ? ['link-active-menu'] : ''"
    >
      <span>{{ "Development" | translate }}</span>
    </button>
    <button
      mat-menu-item
      (click)="closeNavHandler()"
      [routerLink]="['/services', 'blockchain']"
      [ngClass]="router.url.includes('blockchain') ? ['link-active-menu'] : ''"
    >
      <span>{{ "Blockchain" | translate }}</span>
    </button>
    <button
      mat-menu-item
      [routerLink]="['/services', 'gaming']"
      (click)="closeNavHandler()"
      [ngClass]="router.url.includes('gaming') ? ['link-active-menu'] : ''"
    >
      <span>{{ "Gaming" | translate }}</span>
    </button>
  </mat-menu>

  <a
    mat-list-item
    class="mobile"
    [ngClass]="router.url.includes('services') ? ['link-active'] : ''"
    (click)="openMenu()"
  >
    <p>{{ "Servicios" | translate }}</p>
    <mat-icon>{{ menuBz ? "expand_less" : "expand_more" }}</mat-icon>
  </a>
  <span class="mobile" *ngIf="menuBz">
    <a
      mat-list-item
      [routerLink]="['/services', 'development']"
      (click)="closeNavHandler()"
    >
      <p
        [ngClass]="
          router.url.includes('development') ? ['link-active-menu'] : ''
        "
      >
        {{ "Development" | translate }}
      </p>
    </a>
    <a
      mat-list-item
      (click)="closeNavHandler()"
      [routerLink]="['/services', 'blockchain']"
    >
      <p
        [ngClass]="
          router.url.includes('blockchain') ? ['link-active-menu'] : ''
        "
      >
        {{ "Blockchain" | translate }}
      </p>
    </a>
    <a
      mat-list-item
      [routerLink]="['/services', 'gaming']"
      (click)="closeNavHandler()"
    >
      <p [ngClass]="router.url.includes('gaming') ? ['link-active-menu'] : ''">
        {{ "Gaming" | translate }}
      </p>
    </a>
  </span>
  <a
    mat-list-item
    routerLink="/"
    fragment="hww"
    (click)="closeNavHandler()"
    [ngClass]="router.url.includes('hww') ? ['link-active'] : ''"
  >
    <p class="menu">{{ "Cómo trabajamos" | translate }}</p>
  </a>
  <a
    mat-list-item
    routerLink="/"
    fragment="news"
    (click)="closeNavHandler()"
    [ngClass]="router.url.includes('news') ? ['link-active'] : ''"
  >
    <p class="menu">{{'Novedades' | translate}}</p>
  </a>
  <a
    mat-list-item
    routerLink="/contact"
    (click)="closeNavHandler()"
    [ngClass]="router.url.includes('contact') ? ['link-active'] : ''"
  >
    <p class="menu">{{ "Contacto" | translate }}</p>
  </a>
  <button
    mat-stroked-button
    [matMenuTriggerFor]="lgMenu"
    class="language-button d-flex justify-content-between"
    (menuClosed)="menuLg = false"
    (menuOpened)="menuLg = true"
  >
    <span>{{ languageActive.name | translate }}</span>
    <mat-icon>{{ menuLg ? "expand_less" : "expand_more" }}</mat-icon>
  </button>
  <mat-menu #lgMenu="matMenu" class="lg-menu header-menu me-1">
    <button
      mat-menu-item
      *ngFor="let language of languageList"
      [class.active]="languageActive === language"
      (click)="selectLanguage(language)"
    >
      <span>{{ language.name | translate }}</span>
    </button>
  </mat-menu>
</mat-nav-list>
