.mat-nav-list {
  .mat-list-item {
    min-width: 180px !important;
    text-align: center;
    &:hover {
      background: transparent;
    }
    .mat-list-item-content {
      justify-content: center;
      align-items: flex-end;
      p {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
      }
      &:hover {
        p {
          background: linear-gradient(
            to bottom,
            transparent 50%,
            var(--bz-green) 50%
          ) !important;
        }
      }
      @media (max-width: 990px) {
        justify-content: left;
      }
    }
    @media (max-width: 770px) {
      margin-bottom: 20px;
    }
  }
}

.link-active {
  p {
    display: inline;
    background: linear-gradient(
      to bottom,
      transparent 60%,
      var(--bz-green) 40%
    );
  }
}

.link-active-menu {
  color: var(--bz-btn-hover);
  background-color: transparent;
}

.header-menu {
  width: 180px;
  text-align: center;
  border-radius: 6px;
  box-shadow: none;
  min-width: 120px;
  &.lg-menu {
    width: 120px;
  }
  .mat-menu-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    &:hover {
      color: var(--bz-btn-hover);
      background-color: transparent;
    }
  }
}

.desk,
.mat-nav-list .mat-list-item.desk {
  @media (max-width: 770px) {
    display: none;
  }
}
.mat-nav-list .mat-list-item.mobile {
  display: none;
  .mat-icon {
    position: absolute;
    right: 20px;
  }
  @media (max-width: 770px) {
    display: block;
  }
}

.mobile {
  display: none;
  .mat-list-item {
    padding-left: 10px !important;
    position: relative;
    .mat-list-item-content {
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  @media (max-width: 770px) {
    display: block;
  }
}
