<mat-nav-list class="d-flex flex-md-row flex-column">
  <a
    mat-list-item
    [matMenuTriggerFor]="lgMenu"
    class="desk"
    [ngClass]="router.url.includes('services') ? ['link-active'] : ''"
  >
    <p>Servicios</p>
  </a>
  <mat-menu #lgMenu="matMenu" class="header-menu me-1 desk">
    <button
      mat-menu-item
      (click)="closeNavHandler()"
      [routerLink]="['/services', 'blockchain']"
      [ngClass]="router.url.includes('blockchain') ? ['link-active-menu'] : ''"
    >
      <span>Blockchain</span>
    </button>

    <button
      mat-menu-item
      [routerLink]="['/services', 'development']"
      (click)="closeNavHandler()"
      [ngClass]="router.url.includes('development') ? ['link-active-menu'] : ''"
    >
      <span>Development</span>
    </button>
    <button
      mat-menu-item
      [routerLink]="['/services', 'gaming']"
      (click)="closeNavHandler()"
      [ngClass]="router.url.includes('gaming') ? ['link-active-menu'] : ''"
    >
      <span>Gaming</span>
    </button>
  </mat-menu>

  <a
    mat-list-item
    class="mobile"
    (click)="openMenu()"
    [ngClass]="router.url.includes('services') ? ['link-active'] : ''"
  >
    <p>Servicios</p>
    <mat-icon>{{ menu ? "expand_less" : "expand_more" }}</mat-icon>
  </a>
  <span class="mobile" *ngIf="menu">
    <a
      mat-list-item
      (click)="closeNavHandler()"
      [routerLink]="['/services', 'blockchain']"
    >
      <p
        [ngClass]="
          router.url.includes('blockchain') ? ['link-active-menu'] : ''
        "
      >
        Blockchain
      </p>
    </a>
    <a
      mat-list-item
      [routerLink]="['/services', 'development']"
      (click)="closeNavHandler()"
    >
      <p
        [ngClass]="
          router.url.includes('development') ? ['link-active-menu'] : ''
        "
      >
        Development
      </p>
    </a>
    <a
      mat-list-item
      [routerLink]="['/services', 'gaming']"
      (click)="closeNavHandler()"
    >
      <p [ngClass]="router.url.includes('gaming') ? ['link-active-menu'] : ''">
        Gaming
      </p>
    </a>
  </span>
  <a
    mat-list-item
    routerLink="/home"
    fragment="como"
    (click)="closeNavHandler()"
  >
    <p>Cómo trabajamos</p>
  </a>
  <!-- <a
    mat-list-item
    routerLink="/home"
    fragment="novedades"
    (click)="closeNavHandler()"
  >
    <p>Novedades</p>
  </a> -->
  <a
    mat-list-item
    routerLink="/home"
    fragment="contacto"
    (click)="closeNavHandler()"
  >
    <p>Contacto</p>
  </a>
</mat-nav-list>
