.mat-nav-list {
  .mat-list-item {
    min-width: 180px !important;
    text-align: center;
    &:hover {
      background: transparent;
    }
    .mat-list-item-content {
      justify-content: center;
      align-items: flex-end;
      p {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
      }
      &:hover {
        p {
          background: linear-gradient(
            to bottom,
            transparent 50%,
            var(--bz-green) 50%
          ) !important;
        }
      }
      @media (max-width: 990px) {
        justify-content: left;
      }
    }
  }
}
