.layout {
  width: 100vw;
  padding-bottom: 50px;
  padding-top: 50px;
  .first {
    height: auto;
    background-color: #f8f8f8;
    background-image: url("../../../assets/images/backgrounds/noise-background.png");
    .left {
      padding: 100px 50px;
      background-image: url("../../../assets/images/backgrounds/shadow-green.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: 1;
      .text {
        margin-left: 50px;
      }
      .circle {
        position: absolute;
        right: -140px;
      }
      .right {
        z-index: 0;
        img {
          right: 0;
          width: 50vw;
          height: 50vw;
        }
      }
    }
    @media (max-width: 990px) {
      .left {
        padding-left: 0;
        padding-right: 10px;
        padding-bottom: 40px;
        .text {
          margin-top: 20px;
          margin-left: 20px;
        }
        .circle {
          right: -140px;
          top: 10px;
        }
      }
      .right {
        padding: 0;
        height: auto;
        width: 100%;
        background-position: center;
        img {
          height: 100vw;
          width: 100%;
        }
      }
    }
  }
  .que-hacemos {
    padding-top: 100px;
    height: 50vh;
    background-color: #f8f8f8;
    background-image: url("../../../assets/images/backgrounds/noise-background.png");
    background-size: contain;
    background-position: center;

    .que-hacemos-item {
      z-index: 3;
      min-height: 240px;
      border-right: 1px solid var(--bz-dark-gray);
      p {
        min-height: 70px;
      }
      &:last-child {
        border: none;
      }
    }
    @media (max-width: 990px) {
      height: auto;
      .que-hacemos-item {
        min-height: 240px;
        height: auto;
        border-right: none;
        border-bottom: 1px solid var(--bz-dark-gray);
      }
    }
  }
  .hww {
    padding-top: 130px;
    padding-right: 20px;
    min-height: 80vh;
    .left {
      img {
        left: 0;
        height: 50vw;
      }
    }
    .right {
      .row {
        .col-2 {
          .number {
            width: 80px;
            height: 80px;
            background-image: url("../../../assets/images/common/number.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--bz-white);
            transition: 0.5s all;

            h2 {
              color: var(--bz-white);
              margin: 0;
            }
            &:hover {
              width: 94px;
              height: 94px;
            }
          }
        }
      }
    }
    @media (max-width: 990px) {
      padding-top: 100px;
      padding-right: 40px;
      .left {
        display: none;
      }
    }
  }
  .projects {
    margin-top: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    .images {
      cursor: pointer;
      z-index: 2;
      opacity: 0.7;
      transition: 0.3 all;
      img {
        width: 200px;
      }
      &:hover {
        opacity: 1;
      }
    }
    .mat-divider {
      margin-top: 80px;
      width: 94%;
      border-color: #000;
    }
    @media (max-width: 760px) {
      .images {
        opacity: 1;
      }
    }
  }
  .news {
    padding-top: 120px;
  }
  .work {
    margin-top: 40px;
    position: relative;
    justify-content: center;
    .work-box {
      border-radius: 5px;
      margin-top: 40px;
      position: absolute;
      height: 300px;
      background-image: url("../../../assets/images/backgrounds/background-work.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      width: 94%;
      h2 {
        font-size: 50px;
        line-height: 35px;
      }
    }
    @media (max-width: 990px) {
      .work-box {
        margin-top: 0;
        padding: 40px 0;
        height: auto;
        background-position: unset;
        background-size: cover;
        margin-bottom: 30px;
        h2 {
          margin-top: 30px;
          font-size: 36px;
        }
      }
    }
  }
  .wsp {
    position: fixed;
    bottom: 60px;
    right: 60px;
    opacity: 1;
    z-index: 5;
    cursor: pointer;
    transition: 0.3s all;
    &:hover {
      transform: scale(1.2);
    }
    @media (max-width: 770px) {
      bottom: 20px;
      right: 20px;
      scale: (0.8);
      &:hover {
        transform: none;
      }
    }
  }
}
.blue {
  z-index: 1;
  position: absolute;
  width: 90vw;
  height: 60vh;
  align-self: center;
  @media (max-width: 770px) {
    width: 150vw;
    height: 120vh;
    left: 0;
  }
}
.mat-divider-vertical {
  height: 100px;
  border-color: black;
  border-width: 6px;
  width: 40px;
  @media (max-width: 990px) {
    height: 150px;
  }
  @media (max-width: 470px) {
    height: 170px;
  }
}
