<div class="about">
  <div class="d-flex justify-content-center text-center">
    <h1 class="green-background-title my-5">
      {{ "Sobre nosotros" | translate | titlecase }}
    </h1>
  </div>
  <div class="row px-5 py-3 mt-3">
    <div class="col">
      <p>
        Somos una empresa de desarrollo de software qué surge ante una premisa y
        una necesidad, por un lado la premisa de crear soluciones inteligentes y
        específicas, por otro lado la necesidad de solucionar la gran cantidad
        de problemas qué afectan a las empresas y a las personas en su vida
        diaria.
      </p>
    </div>
    <div class="col">
      <p>
        Es así qué un grupo de profesionales plantea crear Bitionz, una empresa
        para brindar soluciones tecnológicas, haciendo foco en 3 campos:
        Desarrollo de software en general, Blockchain y Gaming.
      </p>
    </div>
  </div>
</div>
